<h1>This is the restaurant you added to our guide: </h1>

<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.description %></p>

<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.chef %></p>
<p><%= @restaurant.category %></p>
